.imageContainer {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-top: 50px;
}

.image {
  width: 300px;
  max-width: calc(100vw - 250px);
  height: auto;
}
@media (max-width:500px) {
  .image {
    width: 200px;
  }
}
@media (min-width:1000px) {
  .image {
    width: 500px;
  }
}

.defaultImage {
  width:100px; 
  height:200px; 
  flex:auto;
  margin: 5%; 
  cursor:pointer; 
  background-color:lightgray; 
  max-width:100px;
}

.containerHeader {
  text-align: center;
  font-size: 2rem;
}