.mainBody {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2%;
    margin-top: 2%;
    align-items: flex-start;
    /* margin-left: 10%; */
    /* margin-right: 10%; */
  }
  
.mainBody.open {
  transform: translateX(250px);
  margin-right: 250px;
}

.imageContainer {
  display: flex;
  justify-content: center; 
  align-items: center;
}
.imageContainer.open {
  margin-left: 250px;
}
.image {
  width: 300px;
  max-width: calc(100vw - 250px);
  height: auto;
}
@media (max-width:500px) {
  .image {
    width: 200px;
  }
}
@media (min-width:1000px) {
  .image {
    width: 500px;
  }
}