.navBar {
    display: flex;
    position: sticky;
    z-index: 1000;
    top: 0;
    height: 100px;
    margin-bottom: 10px;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    background-color: #fff;
  }


@media (min-width: 769px) {
  .navBar.open {
    margin-left: 245px;
    justify-content: right;
  }
  
  .center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    text-align: center;
    font-size: clamp(1rem, 5vh, 4rem); 
  }
}
@media (max-width: 768px) {
  .navBar h1:nth-of-type(1) {
    font-size:2rem;
    margin: 10px;
    text-align: center;
  }
}