.navBar {
    display: flex;
    position: sticky;
    z-index: 1000;
    top: 0;
    height: 100px;
    margin-bottom: 10px;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    background-color: #fff;
    font-size: 24;
  }

.left {
  flex: 1 1 1; 
  min-width: 0px;
}
.left :hover {
  color: var(--color-secondary);
}
.center {
  flex: 2 1 1;
  max-height: 100px;
}
.center img {
  height: 100px; 
  width: 100%; 
  object-fit: contain; 
  image-rendering: auto;
}
.right {
  flex: 1 1 1; 
  text-align: right;
  min-width: 20px;
}

/* DESKTOP */
@media (min-width: 769px) {
  .navBar.open {
    margin-left: 245px;
    justify-content: right;
  }
  
  .center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    text-align: center;
    /* font-size: clamp(1rem, 5vh, 4rem);  */
    font-size: 3rem;
  }
}

/* MOBILE */
@media (max-width: 768px) {
  .navBar h1:nth-of-type(1) {
    font-size:2rem;
    margin: 10px;
    text-align: center;
  }
  .navBar div:nth-of-type(2) {
    font-size:2rem;
    margin: 10px;
    text-align: center;
  }
}