.sideMenu {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 250px;
    background-color: white;
    border-right: 2px solid black;
    /* border-top: 2px solid black; */
    margin-left: 0px;
    top: 0;
    left: 0;
    z-index: 1001;
  }
  .sideMenu h2:nth-of-type(1) {
    text-align: center;
  }
  .menuHead {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 50px;
    /* justify-content: space-between; */
  }
  .menuHead :first-child {
    flex: 0.5;
  }
  .menuHead :nth-child(2) {
    flex: 1 1 auto;
    text-align: center;
  }

  .sideMenu div {
    text-align: center;
  }
  .sideMenu.mobile {
    width: 100%;
  }
  
  /* .menuHead button:nth-of-type(1)  {
    align-items: left;
  }
  .menuHead a:nth-of-type(1)  {
    flex: 1 1 auto;
  } */

  .homeLink {
    cursor: pointer;
    color: black;
    text-decoration: none;
    font-size: 1.5em;
  }
  .homeLink:hover {
    background-color: lightgray;
    color: black;
    border-radius: 10%;
  }