.navBar {
    display: flex;
    position: sticky;
    z-index: 1000;
    top: 0;
    margin-bottom: 10px;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    background-color: #fff;
  }

/* .navBar.open {
  margin-left: 250px;
} */

@media (min-width: 769px) {
  .navBar.open {
    margin-left: 250px;
  }
}
@media (max-width: 768px) {
  .navBar h1:nth-of-type(1) {
    font-size: large;
    text-align: left;
    margin: 10px;
  }
  /* .navBar {
    margin-left: 0;
  } */
}