.formInput {
    width: 25%;
    padding: 0.5rem;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    text-align: center;
}

.label {
    font-size: 0.9rem;
    font-weight: 600; 
}

.formFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

span {
    color: grey;
}

.editableMode {
    background-color: grey;
    cursor: pointer;
}
.editableItem {
    margin: 5px;
}