.CustNailBody {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    /* justify-content: flex-start; */
    justify-content: center;
    align-items: flex-start;
}
.open {
    margin-left: 250px;
    /* margin-right:250px; */
}

