.sideMenu {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 250px;
    background-color: white;
    border-right: 2px solid black;
    margin-left: 0px;
    top: 0;
    left: 0;
    z-index: 1001;
  }

  .menuHead {
    height: 70px;
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .menuButton {
    position: absolute;
    left: 0;
    background-color: white;
  }
  
  
  .sideMenu.mobile {
    width: 100%;
    height: 100%;
  }
  
  .homeLink {
    cursor: pointer;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.5em;
    margin: 0 auto;
  }
  @media (min-width: 769px) {
    .homeLink{
      margin-left: 50px;
    }
  }
  .homeLink :first-child {
    color: black;
  }
  
  .homeLink:hover {
    background-color: var(--color-secondary);
    color: black;
    border-radius: 10%;
  }

  .sidebarContent {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
  }
